﻿@model List<FunctionViewModel>
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
    {
        <li class="treeview">
            <a href="#">
                <i class="fa @item.IconCss"></i> <span>@item.Name</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            @if (Model.Any(x => x.ParentId == item.Id))
            {
                <ul class="treeview-menu">
                    @foreach (var jitem in Model.Where(c => c.ParentId == item.Id))
                    {
                        <li><a href="@jitem.URL"><i class="fa fa-circle-o"></i> @jitem.Name</a></li>
                    }
                </ul>
            }
        </li>
    }
</ul>