@using Microsoft.AspNetCore.Identity
@using ShoppingCart_Example.Data.Models
@using ShoppingCart_Example.Data.Extensions;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/images/user2-160x160.jpg" class="user-image" alt="User Image">
        <span class="hidden-xs">@User.GetSpecificClaim("FullName")</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            <p>
                @User.GetSpecificClaim("FullName")
                <small>Member since @User.GetSpecificClaim("DateCreated")</small>
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a asp-area="Identity" asp-route="/Account/Manage" class="btn btn-default btn-flat">Profile</a>
            </div>
            <form asp-area="Identity" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <div class="pull-right">
                    <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                </div>
            </form>

        </li>
    </ul>
</li>
