﻿@model ProductCategoryViewModel

<div class="content">
    <div class="form-horizontal">
        <div id="category-edit" class="nav-tabs-custom">
            <ul class="nav-tabs nav">
                <li class="active">
                    <a data-tab-name="tab-info" data-toggle="tab" href="#tab-info">Category info</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="tab-info">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form role="form" id="frmMaintainance">
                                    <div class="form-group">
                                        <input type="hidden" id="hDateCreated" asp-for="DateCreated" />
                                        <input type="hidden" id="hidIdM" asp-for="Id" />
                                        <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" asp-for="Name" name="txtNameM" class="form-control" id="txtNameM" placeholder="Name of category">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Parent</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="ddlCategoryIdM" asp-for="ParentId" asp-items="@Model.ParentIds"></select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Description</label>
                                        <div class="col-sm-10">
                                            <textarea rows="3" name="txtDescM" class="form-control" asp-for="Description" id="txtDescM"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOrderM" class="col-sm-2 control-label no-padding-right">Sort Order</label>
                                        <div class="col-sm-10">
                                            <input type="number" name="txtSortOrder" asp-for="SortOrder" class="form-control" id="txtSortOrder">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtMetaKeywordM" class="col-sm-2 control-label no-padding-right">SEO Keyword</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="txtSeoKeywords" asp-for="SeoKeywords" class="form-control" id="txtSeoKeywords">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtMetaDescriptionM" class="col-sm-2 control-label no-padding-right">SEO Description</label>
                                        <div class="col-sm-10">
                                            <textarea rows="3" name="txtSeoDescription" asp-for="SeoDescription" class="form-control" id="txtSeoDescription"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(x => x.StatusFlag, new { @id = "ckStatusM" })
                                                    <span class="text">Active.</span>
                                                </label>
                                                <label>
                                                    @Html.CheckBoxFor(x => x.HomeFlag.Value, new { @id = "ckShowHomeM" })
                                                    <span class="text">Show on home.</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>