﻿@model ProductCategoryViewModel
@{
    ViewData["Title"] = "Edit category details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script src="~/app/controllers/category/CreateOrUpdate.js" asp-append-version="true"></script>
    <script>
        var category = new CategoryController();
        category.initialize();
    </script>
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Edit category details - @Model.Name
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a asp-action="Index">back to category list</a>
        </small>
    </h1>
    <div class="pull-right">
        <button type="button" id="btnSave" name="save" class="btn bg-blue">
            <i class="fa fa-floppy-o"></i>
            Save
        </button>
    </div>
</div>

@await Html.PartialAsync("_AddOrUpdate.cshtml", Model)

