﻿@{
    ViewData["Title"] = "Manage Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/app/controllers/category/index.js" asp-append-version="true"></script>
    <script>
        var category = new CategoryController();
        category.initialize();
    </script>
}

<!-- Main content -->
<div class="content-header clearfix">
    <h1 class="pull-left">
        Manage Categories
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Add new
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
                Export
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a id="ExportXlsx">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            Import
        </button>

    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    Category name
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="table_search" id="txtKeyword" class="form-control pull-right" placeholder="Search ... ">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="btnSearch" class="btn btn-primary btn-search"><i class="fa fa-search"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%"></th>
                                    <th>Name</th>
                                    <th>DateCreated</th>
                                    <th>DateModified</th>
                                    <th>Display Order</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-content"></tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <select id="ddlShowPage" class="form-control">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-control" style="border: none">
                                        Total record: <strong id="lblTotalRecords"></strong>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="col-md-12 col-md-offset-12">
                                    <ul id="paginationUL"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <th scope="row">
            <a href="/Admin/ProductCategory/Edit/{{Id}}" class="btn btn-default btn-sm btn-edit">
                <i class="fa fa-pencil"></i>
            </a>
            <button class="btn btn-danger btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></button>
        </th>
        <td>{{Name}}</td>
        <td>{{DateCreated}}</td>
        <td>{{DateModified}}</td>
        <td>{{DisplayOrder}}</td>
        <td>{{{Status}}}</td>
    </tr>
</script>


